<span>Datos de usuario</span>

<ul>
  <li><label>{{user.first_name}}</label></li>
  <li><label>{{user.last_name}}</label></li>
  <li><label>{{user.age}}</label></li>
  <li><label>{{user.user}}</label></li>
</ul>